.card {
    background-color: #eee;
    color: #eee;
    padding: .5em;
    border-radius: 1em;
    height: 32em;
    width: 22em;
    display: flex;
}

.card .cardWrapper {
    flex-direction: column;
    border-radius: .5em;
    width: 100%;
}

.card header {
    font-size: small;
    display: flex;
    justify-content: space-between;
    border: 2px solid #eee;
    border-radius: .5em;
    padding: 5px;
}

.card header .rank {
    font-size: x-small;
}

.card header h1 {
    font-size: 20px;
}

.card header .right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.card .imgWrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card img {
    height: 10em;
}

.card .info {
    display: flex;
    justify-content: center;
    align-items: center;
}