.card {
    background-color: #171717;
    color: #eee;
    padding: .5em;
    border: 2px solid black;
    border-radius: 1em;
    height: 32em;
    width: 22em;
    display: flex;
}

.card .cardWrapper {
    flex-direction: column;
    border-radius: .5em;
    border: 2px solid #eee;
    width: 100%;
}

.card header {
    font-size: small;
    display: flex;
    justify-content: space-between;
    border-radius: .5em;
    padding: 5px;
    height: 10%;
}

.card header .rank {
    font-size: x-small;
}

.card header h1 {
    font-size: 20px;
}

.card header .right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.card .cardBody {
    height: 83%;

}

.card .imgWrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card img {
    height: 10em;
}

.card .info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .stats {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.card .attackWrapper {
    display: flex;
    height: 5em;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 5px 10px 5px;
    border-top: 2px solid #eee;
}

.card .attack {
    display: flex;
    justify-content: space-between;
    font-size: 1.1em;
}

.card .resWeakWrapper {
    display: flex;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
    height: 20%;
}

.card .resWeak {
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 5px;
}

.card .resWeak:nth-child(1) {
    border-right: 2px solid #eee;
}

.card footer {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.card footer .iconWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2em;
    width: 3.6em;
}