.carouselWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100%;
  padding: 2rem;
  border: 2px solid red;
}

#prevBtn, #nextBtn {
  font-size: 3rem;
  z-index: 400;
  background-color: rgba(100,100,100,0.5);
  width:80px;
  height:80px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  aspect-ratio: 1/1;
  text-decoration: none;
  transition: all 300ms ease-in;
  transform: scale(100%);
}

#prevBtn:hover, #prevBtn:active, #nextBtn:hover, #nextBtn:active
{
    transform: scale(115%);
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100%;
  width:100%;
  position: relative;
  border: 2px solid red;
}

.crslItem {
  overflow: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in-out;
  transform: translateX(0);
}

.focus 
{
    z-index: 150;
}
