* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rethink Sans', sans-serif;
}

body {
    background-color: #eee;
}

.container {
    display: flex;
    flex-wrap: wrap;
}
