* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rethink Sans', sans-serif;
}

body {
    background-color: #eee;
    max-width: 100vw; 
    overflow-x: hidden; 
}

.container {
    display: flex;
    align-items: center;
    align-content: flex-start;
    flex-direction: column;
    width: 100%;
}
