* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body {
    display: flex;
    background-color: #222;
    justify-content: space-around;
    align-items: stretch;
    align-content: center;
    flex-wrap: wrap;
    padding: 50px;
}
